* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "GothamMedium";
  src: url("../assets/static/GothamMedium.ttf") format("truetype");
}
@font-face {
  font-family: "GothamLight";
  src: url("../assets/static/GothamLight.ttf") format("truetype");
}
body {
  background: #121212;
}

header {
  position: relative;
  background: #000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-family: "GothamMedium";
}
header .search-input {
  display: none;
}
header .header-text {
  display: inline-flex;
  justify-content: space-between;
  width: 35%;
}
header .header-text .hamburger-btn {
  z-index: 2;
  padding: 3px 0;
  width: 1.5rem;
}
header .header-text .hamburger-btn .line {
  transition: 0.4s ease;
  margin-bottom: 5px;
  width: 20px;
  height: 2px;
  background: #fff;
}
header .header-text .hamburger-btn.close .line:nth-child(1) {
  opacity: 0;
}
header .header-text .hamburger-btn.close .line:nth-child(2) {
  transform: rotate(45deg) translateY(0.5rem);
}
header .header-text .hamburger-btn.close .line:nth-child(3) {
  transform: rotate(-45deg) translateX(-0.2rem) translateY(-0.3rem);
}
@keyframes fromRight {
  from {
    opacity: 0;
    transform: translateX(50%);
  }
}
header .burger-nav.clicked {
  animation: fromRight 0.2s ease-in;
  z-index: 1;
  position: absolute;
  background: #000;
  top: 1px;
  right: 0.1px;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}
header .burger-nav.clicked .login {
  margin: 4rem 2rem 0;
}
header .burger-nav.clicked .login h1 {
  font-size: 1.5em;
  padding: 1rem 0;
}
header .burger-nav.clicked span {
  margin: 2rem 2rem;
}
header .burger-nav.clicked ul {
  margin: 1rem 2rem;
  display: flex;
  flex-flow: column wrap;
}
header .burger-nav.clicked ul li {
  list-style: none;
  padding-bottom: 1.5rem;
  font-size: 1em;
  text-transform: capitalize;
}
header .burger-nav {
  display: none;
}

section {
  margin: 2rem 1rem;
}
section h2 {
  font-family: "GothamMedium";
  margin-bottom: 1rem;
  text-transform: capitalize;
  color: #fff;
}
section .thumbnail-container {
  display: flex;
  gap: 1rem;
  overflow: auto;
}
section .thumbnail-container .button {
  text-align: left;
  border: none;
  color: #fff;
  width: 50%;
}
section .thumbnail-container .button img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 150px;
  background: #000;
  border-radius: 5px;
}
section .thumbnail-container .button h3 {
  margin: 0.3rem 0;
  font-family: "GothamLight";
  text-transform: capitalize;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 0.8em;
}

section:nth-child(4) {
  margin-bottom: 6rem;
}

aside {
  margin: 2rem 1rem;
}
aside ul {
  display: flex;
  flex-direction: column;
}
aside ul li {
  font-family: "GothamLight";
  list-style: none;
  margin-bottom: 1rem;
  color: #b0b0b0;
}
aside ul li:nth-child(1) {
  color: #fff;
  font-weight: 900;
}

.socials {
  margin: 0 1rem 2rem;
  display: flex;
}
.socials a {
  background: magenta;
  padding: 1rem;
  margin-right: 1rem;
  border-radius: 20px;
}

footer {
  border-top: 1px solid gray;
  margin: 2.5rem 1rem;
  padding: 2rem 0;
  color: gray;
}
footer ul {
  text-transform: capitalize;
  font-size: 1em;
  display: flex;
  flex-flow: row wrap;
  gap: 0.7rem;
  margin-bottom: 1rem;
}
footer ul li {
  font-family: "GothamMedium";
  list-style: none;
}/*# sourceMappingURL=styles.css.map */