*{
  margin: 0;
  padding: 0;
}
header{
  position: relative;
  background: #000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  .search-input{
    display: none;
  }
  .header-text{
    display: inline-flex;
    justify-content: space-between;
    width: 35%;
    .hamburger-btn{
      z-index: 2;
      padding: 3px 0;
      width: 1.5rem;
      
      .line{
        transition: .4s ease;
        margin-bottom: 5px;
        width: 20px;
        height: 2px;
        background: #fff;
      }
    }
    .hamburger-btn.close{
      .line:nth-child(1){
        opacity: 0;
      }
      .line:nth-child(2){
        transform: rotate(45deg) translateY(.5rem);
      }
      .line:nth-child(3){
        transform: rotate(-45deg) translateX(-.2rem) translateY(-.3rem);
      }
    }
  }
  @keyframes fromRight {
    from{
      opacity: 0;
      transform: translateX(50%);
    }
  }
  .burger-nav.clicked{
    animation: fromRight .2s ease-in;
    z-index: 1;
    position: absolute;
    background: #000;
    top: 1px;
    right: .1px;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    .login{
      margin: 4rem 2rem 1rem;
      h1{
        padding: 1rem 0;
      }
    }
    span{
      margin: 0 2rem;
    }
    ul{
      margin: 1rem 2rem;
      display: flex;
      flex-flow: column wrap;
      li{
        list-style: none;
        padding-bottom: 1rem;
        font-size: 1.3em;
        text-transform: capitalize;
      }
    }
  }
  .burger-nav{
    display: none;
  }
}